version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: quizly_postgres
    restart: on-failure
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - quizly_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: quizly_backend
    restart: on-failure
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    networks:
      - quizly_network

volumes:
  postgres_data:

networks:
  quizly_network:
    driver: bridge
